[submodule "cupper-hugo-theme"]
	path = cupper-hugo-theme
	url = https://github.com/zwbetz-gh/cupper-hugo-theme
[submodule "themes/cupper"]
	path = themes/cupper
	url = https://github.com/zwbetz-gh/cupper-hugo-theme
